.Button {
  background-color: rgb(236, 236, 236);
  cursor: Pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /*상하 , 좌우*/
  font-size: 18px;
  white-space: nowrap; /*화면이 줄더라고 버튼밖으로 줄바꿈 되지 않게*/
}

.Button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: white;
}
